<%= high_chart("some_id", @chart) %>

<a href="/?duration=30days" class="btn btn-primary">30days</a>
<a href="/?duration=60days" class="btn btn-primary">60days</a>
<a href="/?duration=90days" class="btn btn-primary">90days</a>
<a href="/?duration=180days" class="btn btn-primary">180days</a>
<a href="/?duration=1year" class="btn btn-primary">1 Year</a>
<a href="/?duration=2year" class="btn btn-primary">2 Year</a>
<a href="/?duration=all" class="btn btn-primary">All Time</a>
<br>
<%= @data %>
